<phpunit
    bootstrap="./Bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="false"
    processIsolation="false">

    <testsuites>
        <testsuite name="IntegrationTests">
            <directory>./IntegrationTests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../Libs/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../Build/Coverage" title="Redis Cache"
            charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="../Build/Logs/Clover.xml"/>
    </logging>
</phpunit>
